@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  height: 100vh;
}

/* .bg-green-pattern {
  background: repeating-linear-gradient(
    to right,
    #8cc63e,
    #8cc63e 60px,
    #78b33e 60px,
    #78b33e 120px
  );
} */

/* force elements to at the center */
.space-center {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
